<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Xyperico.Authentication.Configuration" type="Xyperico.Authentication.Configuration, Xyperico.Authentication" />
    <section name="MongoDBSettings" type="Xyperico.Base.MongoDB.ConfigurationSettings, Xyperico.Base.MongoDB"/>
  </configSections>
  <Xyperico.Authentication.Configuration
    PasswordHashAlgorithm="SHA1"
    InvalidUserNameFile="invalid-user-names-test.txt">
    <UserName MinLength="1" MaxLength="20"/>
  </Xyperico.Authentication.Configuration>
  <MongoDBSettings>
    <ConfigurationEntries>
      <add Database="XypericoAuthentication" Server="localhost" Port="27017" Name="Xyperico.Authentication"/>
    </ConfigurationEntries>
  </MongoDBSettings>
</configuration>